<div class="jumbotron text-center">
    <h1><strong>Feel The About </strong> </h1>
    <p> <strong> This application is designed to offer you the best <span class="text-danger">user experience</span> by raising the degree of <span class="text-danger">responsiveness </span> to best meet your needs </strong> </p>  

    <a ui-sref=".list" class="btn btn-primary">List</a>
    <a ui-sref=".paragraph" class="btn btn-primary">Paragraph</a>
    <a ui-sref=".form" class="btn btn-primary">Form</a>
</div>

<div class="row">

 
    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>
    

    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>

</div>    