
<div class="row">
	<div class="jumbotron text-center">
		<h1><strong>The Customer Manager </strong> </h1>
		<p> <strong>Welcome to the customer manager; We handle all your order and customer services. </strong> </p>
	</div>

</div>
<div class="row">
	<div id="home1-view" class="large-3 medium-3 columns">
		<h4> <strong> Dashboard </strong> </h4>
		<ul id="home1-view-ul">
			<li > <a ui-sref="allOrders"> Orders </a></li>
			<li > <a ui-sref="allCustomers"> Customers </a></li>
			<li > <a> Users </a></li>
		</ul>
	</div>

	<div id="home-view" class="large-6 medium-6 columns" ui-view>
		<div class="large-12 medium-12 columns" ng-controller="MainCtrl as main">
			<h4> <strong>Register</strong></h4>
			<label>Username</label>
			<input type="text" ng-model="username" placeholder="username"><br>
			<label>Password</label>
			<input type="password" ng-model="password" placeholder="password"><br>

			<div class="login-buttons">
				<div class="row">
					<button class="success button" ng-click="register()" style="float: left">Register</button>

					<p style="padding-top: 18px; padding-left: 90px;">Already registered? <a ui-sref=".login"> Go to Login</a></p>
				</div>
			</div>

		</div>
	</div>

	<div id="home-view1" class="large-3 medium-3 columns" ng-controller="articleCtrl">
		<h4> <strong> News &raquo; </strong> </h4>

		Please select the number of news items to display:
		<input type="text" ng-model="numArticles" />

	    <ul class="li-none">
	      <li ng-repeat="article in articles | limitTo:numArticles">
			  <a href="">
				  &raquo; {{article.title}}
			  </a>
	      </li>
	    </ul>
	</div>

</div>
<br>
<hr>

<div class="footer">
	<div class="row">

		<p class="large-3 small-centered columns">  <span class="alert"> ~@2016CustomerManager~ </span></p>

	</div>

</div>