
<div class="row">
	<div class="jumbotron text-center">
		<h1><strong>The Customer Manager </strong> </h1>
		<p> <strong> This application is designed to offer you the best <span class="text-danger">user experience</span> by raising the degree of <span class="text-danger">responsiveness </span> to best meet your needs </strong> </p>
	</div>

</div>
<div class="row">
	<div id="home1-view" class="large-3 medium-3 columns">
			<h4> <strong> Side Navigation </strong> </h4>
			<ul>
			    <li > <a href="#"> Link One </a></li>
			    <li > <a href="#"> Link Two </a></li>
			    <li > Angular has become soo interesting to learn and use.gvj ,hbkhjvgmcfxdg nfcmhgvj,h bkxndgfchmgvjh</li>
			</ul>
	</div>

	<div id="home-view" class="large-6 medium-6 columns" ui-view>
		<div class="large-12 medium-12 columns" ng-controller="MainCtrl as main">
			<h4> <strong>Register</strong></h4>
			<label>Username</label>
			<input type="text" ng-model="username" placeholder="username"><br>
			<label>Password</label>
			<input type="password" ng-model="password" placeholder="password"><br>

			<div style="padding-left:15px; padding-right:15px;">
				<div class="row">
					<button class="success button" ng-click="register()" style="float: left">Register</button>

					<p style="padding-top: 18px; padding-left: 80px;">Already registered? <a ui-sref=".login"> Go to Login</a></p>
				</div>
			</div>
			<br>
			{{ quote }}
			{{main.message}}

			<br>

		</div>
	</div>

	<div id="home-view1" class="large-3 medium-3 columns" ng-controller="articleCtrl">
		<h4> <strong> News &raquo; </strong> </h4>

		Please select the number of news items to display:
		<input type="text" ng-model="numArticles" />

	    <ul class="li-none">
	      <li ng-repeat="article in articles | limitTo:numArticles">
			  <a href="">
				  &raquo; {{article.title}}
			  </a>
	      </li>
	    </ul>
	</div>

</div>
<br>
<hr>

<div class="footer">
	<div class="row">

		<p> I'm in!!! &raquo; <span class="danger"> This shall include my foooter</span></p>

	</div>

</div>