<div class="large-12 medium-12 columns" ng-controller="MainCtrl as main">
    <h4> <strong>Register</strong></h4>
    <label>Username</label>
    <input type="text" ng-model="username" placeholder="username"><br>
    <label>Password</label>
    <input type="password" ng-model="password" placeholder="password"><br>
    <br>
    <div style="padding-left:15px; padding-right:15px;">
        <div class="row">
            <button class="success button" ng-click="register()" style="float:left;">Register</button>

            <p style="padding-top: 18px; padding-left: 80px;">Already registered? <a ui-sref="home.login" > Go to Login</a></p>
        </div>
    </div>
    <br>
    {{ quote }}
    {{main.message}}

    <br>
  
    </div>
