

<div class="row">

    <div class="small-8 large-8 columns" id="updateOrderModal" >
        <!--<div class="reveal" id="updateOrderModal" data-reveal>-->

        <div >
            <input type="hidden" ng-model="currentCustomerId" />
            <p><input class="form-control" ng-model="currentCustomerNames" placeholder="Names..." type="text"></p>
            <p><input class="form-control" ng-model="currentCustomerEmail" placeholder="Email..." type="text"></p>
            <p><input class="form-control" ng-model="currentCustomerAddress" placeholder="Address..." type="text"></p>
        </div>
        <div >
            <button type="button" class="alert button" ng-click="refresh()">Close</button>
            <button type="button" class="primary button" ng-click="update()">Save Changes</button>
        </div>

    </div><!-- /.modal -->

</div>