

<div class="row" ng-controller="customersCtrl">

    <div class="small-8 large-8 columns" id="updateOrderModal" >

        <h3> Edit Client </h3>

        <form>
            <div >

                <input type="hidden" ng-model="currentCustomerId" />
                <p><input class="form-control" ng-model="currentCustomerNames" placeholder="Names..." type="text"></p>
                <p><input class="form-control" ng-model="currentCustomerEmail" placeholder="Email..." type="text"></p>
                <p><input class="form-control" ng-model="currentCustomerAddress" placeholder="Address..." type="text"></p>
                <p><input class="form-control" ng-model="currentCustomerPhone" placeholder="Phone..." type="text"></p>
            </div>
            <div class="button-group">
                <input type="reset" class="warning button" >
                <button type="button" class="primary button" ng-click="update()">Save Changes</button>
            </div>

        </form>

    </div>

</div>