
<div class="row">
    <div class="jumbotron text-center">
        <h1><strong>The Customer Manager </strong> </h1>
        <p> <strong> Welcome to the customer manager; We handle all your order and customer services. </strong> </p>
    </div>

</div>
<div class="row">

    <div id="home1-view" class="large-3 medium-3 columns">
        <h4> <strong> Dashboard </strong> </h4>
        <ul id="home1-view-ul">
            <li ng-controller="ordersCtrl"> <a ui-sref="allOrders" ng-click="showAll()"> Orders </a></li>
            <li ng-controller="customersCtrl"> <a ui-sref="allCustomers" ng-click="showAll()"> Customers </a></li>
            <li > <a> Users </a></li>
        </ul>
    </div>


    <div ui-view> </div>

</div>
<br>
<hr>

<div class="footer">
    <div class="row">

        <p class="large-3 small-centered columns">  <span class="alert"> ~@2016CustomerManager~ </span></p>

    </div>

</div>