

<div class="row" ng-controller="ordersCtrl">

    <div class="small-8 large-8 columns"  id="addOrderModal" >
        <!--<div class="reveal" id="addOrderModal" data-reveal>-->
        <h3> Create Order </h3>

        <form name="addCustomerForm">

            <div >

                <p><input class="form-control" ng-model="currentOrderTitle" placeholder="Title..." type="text" name="title"  id="title"  ng-required="required"></p>
                <div role="alert">
                  <span class="error" ng-show="addCustomerForm.title.$error.required">
                  </span>
                </div>
                <p><input class="form-control" ng-model="currentOrderAuthName" placeholder="Author Name..." type="text"></p>
                <p><input class="form-control" ng-model="currentOrderDescription" placeholder="Description..." type="text"></p>
                <p><input class="form-control" ng-model="currentOrderAmount" placeholder="Amount..." type="text"></p>
            </div>
            <div class="button-group">
                <input type="reset" class="warning button">
                <button type="submit" class="primary button" ng-click="create()">Save order</button>
            </div>
        </form>

    </div>
    <hr>

    <div style="margin-left: 5px;" class="row available-orders">
        <div class="col-md-12">

            <p>You currently have <b>{{ orders.length }}</b> orders in your profile.</p>
            <table>
                <thead>
                    <tr>
                        <td> Order Title</td>
                        <td> Order By: </td>
                        <td> Description </td>
                        <td> Amount </td>
                        <td> Action </td>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                        <td> {{ order.title }} </td>
                        <td> {{ order.auth_name }} </td>
                        <td> {{ order.description }} </td>
                        <td> {{ order.amount }} </td>
                        <td class="button-group large-centered">
                            <p class="success button" ui-sref="cm.viewOrder" > View </p>
                            <p class="primary button" ui-sref="cm.editOrders"> Update </p>
                            <p class="alert button" ng-click="remove(order.id)"> Remove </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<ul>-->
                <!--<li ng-repeat="order in orders">-->
                    <!--<b>{{ order.title }}</b> by <i>{{ order.auth_name }}</i> |-->
                    <!--<button ng-click="load(order.id)" class="primary button" data-open="updateOrderModal"> Update</button>-->
                    <!--<button ng-click="remove(order.id)" class="alert button">Remove</button>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>

</div>