

<div class="row" ng-controller="ordersCtrl">

    <hr>

    <div>

        <div class="pull-left"><button  type="button" class="radius success button" data-open="addOrderModal" >+ Add order</button></div>
        <div class="pull-right"><button type="button" class="radius secondary button" ng-click="logout()">Logout!</button></div>
        <div class="clearfix"></div>

        <hr>

        <div style="margin-left: 5px;" class="row available-orders">
            <div class="col-md-12">
                <p>You currently have <b>{{ orders.length }}</b> orders in your profile.</p>
                <ul>
                    <li ng-repeat="order in orders">
                        <b>{{ order.title }}</b> by <i>{{ order.owner_name }}</i> |
                        <button ng-click="load(order.id)" class="primary button" data-open="updateOrderModal">Update</button>
                        <button ng-click="remove(order.id)" class="alert button">Remove</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</div>
