

<div class="row" ng-controller="ordersCtrl">

    <hr>

    <div>

        <div class="pull-left"><button  type="button" class="radius success button" data-open="addOrderModal" >+ Add order</button></div>
        <div class="pull-right"><button type="button" class="radius secondary button" ng-click="logout()">Logout!</button></div>
        <div class="clearfix"></div>

        <hr>

        <div style="margin-left: 5px;" class="row available-orders">
            <div class="col-md-12">
                <p>You currently have <b>{{ orders.length }}</b> orders in your profile.</p>
                <ul>
                    <li ng-repeat="order in orders">
                        <b>{{ order.title }}</b> by <i>{{ order.owner_name }}</i> |
                        <button ng-click="load(order.id)" class="primary button" data-open="updateOrderModal">Update</button>
                        <button ng-click="remove(order.id)" class="alert button">Remove</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="small-8 large-8 columns"  id="addOrderModal" >
            <!--<div class="reveal" id="addOrderModal" data-reveal>-->

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="addOrderTitle">Add an order</h4>
                    </div>
                    <div class="modal-body">
                        <p><input class="form-control" ng-model="currentorderTitle" placeholder="Title..." type="text"></p>
                        <p><input class="form-control" ng-model="currentorderAuthorName" placeholder="Author Name..." type="text"></p>
                        <p><input class="form-control" ng-model="currentorderDescription" placeholder="Description..." type="text"></p>
                        <p><input class="form-control" ng-model="currentorderAmount" placeholder="Amount..." type="text"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="alert button" data-dismiss="modal">Close</button>
                        <button type="button" class="primary button" ng-click="create()">Save order</button>
                    </div>

        </div><!-- /.modal -->

        <br>

        <div class="small-8 large-8 columns" id="updateOrderModal" >
        <!--<div class="reveal" id="updateOrderModal" data-reveal>-->

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="upOrderTitle">Update order</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" ng-model="currentorderId" />
                        <p><input class="form-control" ng-model="currentorderTitle" placeholder="Title..." type="text"></p>
                        <p><input class="form-control" ng-model="currentorderAuthorName" placeholder="Author Name..." type="text"></p>
                        <p><input class="form-control" ng-model="currentorderDescription" placeholder="Description..." type="text"></p>
                        <p><input class="form-control" ng-model="currentorderAmount" placeholder="Amount..." type="text"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="alert button" data-dismiss="modal">Close</button>
                        <button type="button" class="primary button" ng-click="update()">Save Changes</button>
                    </div>

        </div><!-- /.modal -->

    </div>


</div>
