

<div class="row">
    <div class="jumbotron text-center">
        <h1><strong>The Customer Manager </strong> </h1>
        <p> <strong>Welcome to the customer manager; We handle all your order and customer services.</strong> </p>
    </div>

</div>
<div class="row">


    <div ui-view>

        <div class="row tables" ng-controller="ordersCtrl">
            <div class="large-12 medium-12 columns">


                <div class="row">

                    <div class="button-group pull-left">
                        <a ui-sref="cm.addOrder">

                            <span class="success button"> + Add Order</span>
                        </a>
                        <a class="alert button radius" ng-click="showAll()">
                            Show All Orders
                        </a>
                    </div>

                    <div>
                        <button type="button" class="success button pull-right"> Search</button>
                    </div>

                    <div class="pull-right">
                        <input type="text" ng-model="search" placeholder="Search Order:">
                    </div>
                    <hr>

                    <div class="row tables">
                        <div class="col-md-12">

                            <p>You currently have <b>{{ orders.length }}</b> orders in your profile.</p>
                            <table>
                                <thead>
                                <tr>
                                    <td> Order Title</td>
                                    <td> Order By: </td>
                                    <td> Description </td>
                                    <td> Amount </td>
                                    <td> Action </td>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in orders | filter:search">
                                    <td> {{ order.title }} </td>
                                    <td> {{ order.auth_name }} </td>
                                    <td> {{ order.description }} </td>
                                    <td> {{ order.amount }} </td>
                                    <td class="button-group large-centered">
                                        <p class="primary button" ui-sref="cm.editOrders({ orderId: {{order.id}})"> Update </p>
                                        <p class="alert button" ng-click="remove(order)"> Remove </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<br>
<hr>

<div class="footer">
    <div class="row">

        <p class="large-3 small-centered columns">  <span class="alert"> ~@2016CustomerManager~ </span></p>

    </div>

</div>
