

<div class="row" ng-controller="ordersCtrl">

    <div class="small-8 large-8 columns" id="updateOrderModal" >
        <!--<div class="reveal" id="updateOrderModal" data-reveal>-->
        <h3> Edit Order </h3>

        <div >
            <input type="hidden" ng-model="currentOrderId" />
            <p><input class="form-control" ng-model="currentOrderTitle" placeholder="Title..." type="text"></p>
            <p><input class="form-control" ng-model="currentOrderAuthorName" placeholder="Author Name..." type="text"></p>
            <p><input class="form-control" ng-model="currentOrderDescription" placeholder="Description..." type="text"></p>
            <p><input class="form-control" ng-model="currentOrderAmount" placeholder="Amount..." type="text"></p>
        </div>
        <div >
            <button type="reset" class="warning button">Reset</button>
            <button type="button" class="primary button" ng-click="update()">Save Changes</button>
        </div>

    </div>

</div>