

<div class="row" ng-controller="ordersCtrl">

    <div class="small-8 large-8 columns" id="updateOrderModal" >
        <!--<div class="reveal" id="updateOrderModal" data-reveal>-->

        <div >
            <input type="hidden" ng-model="currentorderId" />
            <p><input class="form-control" ng-model="currentorderTitle" placeholder="Title..." type="text"></p>
            <p><input class="form-control" ng-model="currentorderAuthorName" placeholder="Author Name..." type="text"></p>
            <p><input class="form-control" ng-model="currentorderDescription" placeholder="Description..." type="text"></p>
            <p><input class="form-control" ng-model="currentorderAmount" placeholder="Amount..." type="text"></p>
        </div>
        <div >
            <button type="button" class="alert button" ng-click="delete()">Close</button>
            <button type="button" class="primary button" ng-click="update()">Save Changes</button>
        </div>

    </div><!-- /.modal -->

</div>